.header__logo {
    background-image: url('/images/logo.svg');
    width: 148px;
    height: 105px;
    object-fit: cover;
    background-repeat:no-repeat;
    align-self: center;
    padding-right: 159px;
}