.header__menu-name {
    font-weight: normal;
    font-size: 18px;
    text-decoration: underline;
    padding-right: 13px;
}

.header__menu-name:last-child {
    padding-right: 0;
}

.header__menu-name:first-child {
    list-style: none;
}